{deps_dir, "lib"}.
{lib_dirs, ["/usr/lib/erlang/lib/"]}.
{escript_main_app, ar}.
{erl_opts, [
  {platform_define, "(?!^19)(?!^2.)", namespaced_types},
  debug_info
]}.
{deps, [
    {elli,  ".*", {git, "git://github.com/knutin/elli",             {branch, "master"}}},
    {yaws,  ".*", {git, "git://github.com/klacke/yaws",             {branch, "master"}}}
 ]}.


